<h2 mat-dialog-title>{{( _id?.value != '0' ? 'Editar ' : 'Nuevo ') }} Carro</h2>
<form [formGroup]="carForm" (ngSubmit)="save()">
    <mat-dialog-content [style.fontSize.px]="12">
        <div class="">
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                  <mat-label [style.fontSize.px]="14">Marca</mat-label>
                  <input matInput formControlName="marca" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                  <mat-label [style.fontSize.px]="14">Modelo</mat-label>
                  <input matInput formControlName="modelo" placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="frow row-start">
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                  <mat-label [style.fontSize.px]="14">Color</mat-label>
                  <input matInput formControlName="color" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                  <mat-label [style.fontSize.px]="14">Matricula</mat-label>
                  <input matInput formControlName="matricula" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-1-1 col-sm-1-2 col-md-1-2">
                <mat-form-field appearance="outline" class="fluid">
                  <mat-label [style.fontSize.px]="14">Precio</mat-label>
                  <input matInput formControlName="precio" placeholder="">
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button color="accent" >{{ _id?.value != 0 ? 'Actualizar': 'Guardar' }}</button>
      <button mat-flat-button [mat-dialog-close]="null" color="warn">Cancelar</button>
    </mat-dialog-actions>
</form>