<mat-toolbar color="primary">
    <span>Portal CRM</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/cars">Carros</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>
    <span class="example-spacer"></span>
</mat-toolbar>
