
    
      <div class="col-3">
        <h2 class="mat-h2" style="padding-left: 25px">Productos</h2>
        <mat-form-field [style.fontSize.px]="12" appearance="outline" class="fluid" style="padding-left: 25px">
          <mat-label [style.fontSize.px]="14">Buscar</mat-label>
          <input matInput [(ngModel)]="queryValue" cdkFocusInitial="true" (keyup)="applyFilter()"
              placeholder="Ejemplo: Prepago" />
          <mat-icon *ngIf="!queryValue" matSuffix>search</mat-icon>
          <button mat-button *ngIf="queryValue" matSuffix mat-icon-button aria-label="Clear"
              (click)="queryValue=''; applyFilter() ">
              <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="editCar()" style="margin-left: 8px;">
        Agregar
      </button>
    </div>
    
    <br>
    <div class= "example-container mat-elevation-z8" [ngStyle]="{display: cars.data.length > 0 ? 'block' : 'none'}">
      <table mat-table [dataSource]="cars" class="fluid">
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef >Marca</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.marca }}
          </td>
        </ng-container>
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef >Modelo</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.modelo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef >Color</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.color }}
          </td>
        </ng-container>
        <ng-container matColumnDef="matricula">
          <th mat-header-cell *matHeaderCellDef >Matricula</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.matricula }}
          </td>
        </ng-container>
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef >Precio</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            Q {{ element.precio }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastModify">
          <th mat-header-cell *matHeaderCellDef >Actualizado</th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            {{ element.updatedAt }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="cell-pointer" mat-cell *matCellDef="let element">
            <button mat-icon-button  color="accent" [style.fontSize.px]="12" [matMenuTriggerFor]="menu" aria-label="Mas opciones">
                <mat-icon>more_vert</mat-icon>
              </button>
                  <mat-menu #menu="matMenu" matTooltip="Ver producto">
                    <a mat-menu-item (click)="editCar(element)">
                      <mat-icon class="material-icons-outlined">edit</mat-icon>
                      <span>Editar</span>
                    </a>
                    <a mat-menu-item color="primary" (click)="deleteCar(element._id)">
                      <mat-icon class="material-icons-outlined">delete</mat-icon>
                      <span>Eliminar</span>
                    </a>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['marca', 'modelo', 'color', 'matricula', 'precio','lastModify', 'actions']"></tr>
        <tr class="selected-row" mat-row
          *matRowDef="let row; columns: ['marca', 'modelo', 'color', 'matricula', 'precio', 'lastModify', 'actions' ]"></tr>
      </table>
    </div>
    <div *ngIf="cars.data.length <= 0" style="padding: 1em;">
      <h3 class="mat-h3">No hay datos para mostrar</h3>
    </div>